<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.bootcdn.net/ajax/libs/vConsole/3.3.4/vconsole.min.js"></script>
    <title>我的博客</title>

</head>
<body>
    <div id="root">

    </div>
    <script>
      // var vConsole=new VConsole();
    </script>
</body>
</html>

